<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- 不要攔截 iisnode 的 debug 請求 -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^dist/index.js\/debug[\/]?" />
        </rule>
        
        <!-- 靜態檔案：如果檔案存在，直接提供 -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- 首頁：將根路徑 / 直接重寫到前端入口檔 -->
        <rule name="RootToIndex" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="client/build/index.html" />
        </rule>
        
        <!-- 靜態檔案：嘗試從 client/build 目錄提供 -->
        <rule name="ClientBuildStatic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{DOCUMENT_ROOT}\client\build\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="client/build/{R:1}" />
        </rule>

        <!-- SPA 路由：非 API 且非實體檔案/資料夾，重寫到前端入口檔 -->
        <rule name="SpaFallback" stopProcessing="true">
          <match url="^(?!api\/).*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="client/build/index.html" />
        </rule>
        
        <!-- API 請求和其他動態內容：轉發到 Node.js -->
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      loggingEnabled="true"
      logDirectory="D:\mic_log\EcoBoard\iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      enableXFF="true"
    />
    
    <httpErrors existingResponse="PassThrough" />
    
    <staticContent>
      <!-- 只添加可能缺少的 MIME 類型 -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
